# PANDAS OBJECT 1

In [2]:
import pandas as pd

In [3]:
a=pd.Series([4,7,-5,3])

In [4]:
a

0    4
1    7
2   -5
3    3
dtype: int64

# value

#index

In [5]:
sales=pd.Series([100,200,100,400])
print(sales.values)
print(sales.index)

[100 200 100 400]
RangeIndex(start=0, stop=4, step=1)

In [6]:
sales=pd.Series([100,200,100,400],index=["jan","feb","mar","apr"])
print(sales)
print(sales.values)
print(sales.index)

jan    100
feb    200
mar    100
apr    400
dtype: int64
[100 200 100 400]
Index(['jan', 'feb', 'mar', 'apr'], dtype='object')

# create a pandas series to store a canteen data to hold values of how many sandwitches are sold each day(one week)

In [14]:
index=("mon","tues","wen","thr","fri","sat","sun"))
print(sw = pd.Series([20,30,20,25,30,40,0],   
                sw)

mon     20
tues    30
wen     20
thr     25
fri     30
sat     40
sun      0
dtype: int64

In [15]:
print(sw[1])

30

In [16]:
print(sw['tues'])
print(sw['sun'])

30
0

In [10]:
print(sw[ [3,5]])

print(sw[ ['thr','sun']])

thr    25
sat    40
dtype: int64
thr    25
sun     0
dtype: int64

In [13]:
print(sw[sw > 20])

tues    30
thr     25
fri     30
sat     40
dtype: int64

# multiplie kiya or multiplie wali value ko sw me save kiya

In [35]:
sw * 2
sw =sw * 2

print(sw)

mon      5.0
tues     7.5
wen      5.0
thr      6.0
fri      7.5
sat     10.0
sun      0.0
dtype: float64

In [34]:
sw

mon     2.50
tues    3.75
wen     2.50
thr     3.00
fri     3.75
sat     5.00
sun     0.00
dtype: float64

# ab agar value dobara leyni hy to sw ko divide kare gain

In [37]:
sw = sw/2

In [38]:
sw

mon     2.50
tues    3.75
wen     2.50
thr     3.00
fri     3.75
sat     5.00
sun     0.00
dtype: float64

In [39]:
'mon' in sw

True

# valu or index ko ek jaga define kar sakte hain

In [49]:
import numpy as np 
arr =np.array ([3,2,4,5,6])
ind = np.array(['a','b','c','d','e'])

In [52]:
obj2 = pd.Series(arr, index = ind)
print(obj2)

a    3
b    2
c    4
d    5
e    6
dtype: int32

# dicnaroy kiya karta hy k string value ko as index istemal karta hy

# dictnary se data bhi le sakte hain

In [57]:
sdata = {'sindh':3500,'kpk':3600,'balochistan':3700,'panjab':3800}
tax_by_state = pd.Series(sdata)
print(tax_by_state)
print(tax_by_state.index)

sindh          3500
kpk            3600
balochistan    3700
panjab         3800
dtype: int64
Index(['sindh', 'kpk', 'balochistan', 'panjab'], dtype='object')

In [62]:
sdata = {'sindh':3500,'kpk':3600,'balochistan':3700,'panjab':38000}
tax_by_state = pd.Series(sdata,index=['kpk','sindh','balochistan','punjab'])
print(tax_by_state)
print(pd.isnull(tax_by_state))

kpk            3600.0
sindh          3500.0
balochistan    3700.0
punjab            NaN
dtype: float64
kpk            False
sindh          False
balochistan    False
punjab          True
dtype: bool

**sorce for series data**
*direct data in series method
*from dictonary
*from numpy array or list

# null value jo value zero k baraber bhi nahi hoti

In [65]:
sw = pd.Series([20,30,20,25,30,40,0],
              index = ['mon','tue','wen','tus','fri','sat','sun'])
print(sw)
sw.index = ['m','t','w','t','f','s','s']
print(sw)

mon    20
tue    30
wen    20
tus    25
fri    30
sat    40
sun     0
dtype: int64
m    20
t    30
w    20
t    25
f    30
s    40
s     0
dtype: int64